<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../Public/form.css">
</head>

<body>
    <div class="mainformdiv">
        <h1 style="text-align: center;">User Details</h1>
        <form action="../phpfile/validationform.php" method="post">
            <div class="insideformdiv">
                <label for="name"> Name : </label>
                <span style="color: red;">*</span> 
                <br>
                <input type="text" name="name" id="name" placeholder=" Name " required>
            </div>

            <div class="insideformdiv">
                <label for="email"> Email : </label>
                <span style="color: red;">*</span> 
                <br>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="insideformdiv">
                <label for="web"> Website : </label> 
                <br>
                <input type="url" name="web" id="web" >
            </div>

            <div class="insideformdiv">
                <label for="comment"> Comment : </label> 
                <br>
                <textarea name="comment" id="comment" cols="52" rows="3" style="resize: none; " placeholder="Type your comment here "></textarea>
            </div>

            <div class="insideformdiv">
                <label for="gender"> Gender : </label>
                <span style="color: red;">*</span> 
                <br>
                Male <input type="radio" name="gender" id="gender" value="male" required>
                <br>
                Female <input type="radio" name="gender" id="gender" value="female" required>
                <br>
                Other <input type="radio" name="gender" id="gender" value="other" required>
                <br>
            </div>

            <div class="insideformdiv">
                <input type="submit" id="submit" value="submit" style="width: 12.5rem;">
                <input type="reset" id="reset" value="reset" style="width: 12.5rem;">
            </div>
        </form>
    </div>
</body>
</html>