/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
}

.story_inner_div{
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}





