body{
    background-color: aliceblue;
}

.mainformdiv{
    font-size :large;
    margin: 5% 25% 0% 25%;
    height: 50%;
    width:50%;
    background-color: whitesmoke;
    border : 1px solid black;
    align-items: center;
}

form{
    align-items: left;
    
}
input{
    
    width: 25rem;
    border : 1px solid grey;
}
.insideformdiv{
    margin: 2rem 0 2rem 8rem;

}
#submit:hover{
    background-color : skyblue;
}
#reset:hover{
    background-color: lightcoral;
}
