/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
    display: grid ;
    grid-template-columns:  auto auto auto auto;
    margin-top: 1rem;
    /* background-color: #2196F3; */
    /* padding: 10px; */
  }
/* Header styles */







