/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.grid-item {
    background-color: whitesmoke;
    border: 1px solid goldenrod;
    padding: 10px;
    height: 90%;
    margin:10px;
    font-size: 30px;
    text-align: center;
}
#addstorybtn{
    font-size : medium ; 
    padding: 5px ; 
    background-color:lightgreen; 
    border : none ;
}

.recent-articles {
    margin-top: 20px;
    overflow-x: scroll;
    display: flex;
    gap: 20px;
}

.article {
    flex: 0 0 300px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.story_inner_div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.story_inner_div_items{ 
    flex : 0 0 200px;
    width: 90%;
    padding : 10px;
    margin:10px;
    background-color: whitesmoke;
}
.grid-container {
    display: grid ;
    grid-template-columns:  auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}
#deletebtn{
    margin-left:1rem;
    padding: 10px;
    float:right ; 
    /* background-color:red;  */
    border :none;
}
#deletebtn a{
    text-decoration:none;
    color:white;
}
#updatebtn{
    margin-left:10rem;
    padding: 10px;
    border :none;
}
#updatebtn a{
    text-decoration:none;
    color:white;
}
#deletecommentbtn{
    padding: 1px;
    float:right ; 
    background-color:red; 
    border :none;
}
.story_inner_div_items{
    padding : 3%;
    display : flex;
    flex-direction: column  ;
}
.postnavdiv{
    display : flex;
    width:110% ;
}

