
/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* color:#fff; */
}
main {
    /* color:#fff; */
    min-height: 33rem;
}
footer {
    /* color: #fff; */
    text-align: center;
    padding: 10px;
}
